

.bg-red {
    background-color: red;
}
.productCard {
    background-color: white;
    border-radius: 15px;
    color: black;
    padding-bottom: 5px;
    width: 250px;
    margin-right: 5px;
    margin-top: 5px;
}

.productImg {
    width: calc(40% - 20px);
    border-radius: 3rem;
    display: block;
    margin-left:auto;
    margin-right:auto;
    transition: transform .2s;
}

.productImg:hover{
    transform: scale(1.10);
}

.productDescription {
    margin: 10px;
}



/* Buttons */
button:hover{
    transform: scale(1.10);
    transition: transform .2s;

}
.buttonsContainer {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.buttonMinus {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
    width: 30px;
}

.buttonMinus:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.countLabel {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-size: 16px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    width: 30px;
}

.buttonAdd {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
    width: 30px;
}

.buttonAdd:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Custom-Styles */
/* Background */
.bg-dark{
    background-color: rgb(56,56,56);
}

.bg-blue{
    background-color: rgb(16, 8, 60);
}

.bg-slate{
    background-color: rgb(95, 91, 116);
}

/* Text Color */
.text-white{
    color: white
}

.text-blue{
    color:rgb(15, 0, 181)
}

/* Align Text */
.text-center {
    text-align: center;
}


.custom-image{
    width: calc(60% - 30px);
    display: block;
    margin-left: auto;
    margin-right: 0px;
}

/* Los botones y los divs que contengan .custom-Button EN EL PADRE */
.custom-buttons button, .custom-buttons div{
    color: white;
    border-color: white
}


.shopping-cart {
    position: fixed;   
    right: 10px;
    top: 0px;
}

.shopping-cart p , .shopping-cart h2{
    text-align: center;
}

.container{
    padding: 1rem;
}